{% extends 'blog/base.html' %}

{% block css %} {% endblock css %}

{% block body %}
<div class="container">
    <div class="row g-5 mt-1 justify-content-center">
        <div class="col-md-8">
            <div class="border rounded shadow-sm bg-light p-4 mb-4">
                <div class="alert alert-info">
                    An email has been sent with instructions to reset your password. Please check your email inbox and
                    follow the instructions.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block js %} {% endblock js %}
