{% extends 'blog/base.html' %}

{% block css %} {% endblock css %}

{% block body %}
<div class="container">
    <div class="row g-5 mt-1 justify-content-center">
        <div class="col-md-8">
            <div class="border rounded shadow-sm bg-light p-4 mb-4">
                <div class="alert alert-info">
                    Your password has been set.
                </div>
                <a class="text-decoration-none" href="{% url 'login' %}">Sign In Here</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block js %} {% endblock js %}
